<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>jsonbroker{% if page.title != null %}: {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/rlong.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>jsonbroker</h1>
        <p>A set of libraries for building hybrid applications.</p>

          <p>
          <ul>
              <li><a href="index.html">Introduction</a></li>
              <li><a href="TableOfContents.html">Table of Contents</a></li>
          </ul>

	  <b>PLEASE NOTE:</b> This site is in very early stages.

          </p>
          <!--<p class="view"><a href="https://github.com/rlong/jsonbroker">View the Project on GitHub <small>rlong/jsonbroker</small></a></p>-->
          <!--<ul>-->
          <!--<li><a href="https://github.com/rlong/jsonbroker/zipball/master">Download <strong>ZIP File</strong></a></li>-->
          <!--<li><a href="https://github.com/rlong/jsonbroker/tarball/master">Download <strong>TAR Ball</strong></a></li>-->
          <!--<li><a href="https://github.com/rlong/jsonbroker">View On <strong>GitHub</strong></a></li>-->
          <!--</ul>-->

      </header>
      <section>


{{ content }}


      </section>
      <footer>
        <p>This <a href="https://github.com/rlong/jsonbroker">project</a> is maintained by <a href="https://github.com/rlong">rlong</a></p>
          <ul>
              <li><a href="https://github.com/rlong/jsonbroker/zipball/master">Download <strong>ZIP File</strong></a></li>
              <li><a href="https://github.com/rlong/jsonbroker/tarball/master">Download <strong>TAR Ball</strong></a></li>
              <li><a href="https://github.com/rlong/jsonbroker">View On <strong>GitHub</strong></a></li>
          </ul>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
